/* line 1, /Users/mikefrancis/Sites/centurion/scss/style.scss */
* {
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0; }

/* line 10, /Users/mikefrancis/Sites/centurion/scss/style.scss */
html {
  background-color: white;
  background-image: -webkit-linear-gradient(purple, pink);
  background-image: linear-gradient(purple, pink);
  color: white;
  font: 100%/1.5 'Open Sans', sans-serif;
  height: 100%; }

/* line 18, /Users/mikefrancis/Sites/centurion/scss/style.scss */
#container {
  margin: 4rem auto;
  max-width: 300px;
  text-align: center; }

/* line 26, /Users/mikefrancis/Sites/centurion/scss/style.scss */
#header, #main, #footer {
  padding: 1rem; }

/* line 30, /Users/mikefrancis/Sites/centurion/scss/style.scss */
#header {
  font-size: 2rem; }

/* line 34, /Users/mikefrancis/Sites/centurion/scss/style.scss */
#footer {
  font-size: 0.75em; }

/* line 39, /Users/mikefrancis/Sites/centurion/scss/style.scss */
input, button {
  background-color: white;
  border-radius: 0.25rem;
  display: block;
  padding: 1rem;
  width: 100%; }

/* line 47, /Users/mikefrancis/Sites/centurion/scss/style.scss */
button {
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.1), inset 0 -1rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer; }
  /* line 50, /Users/mikefrancis/Sites/centurion/scss/style.scss */
  button[disabled] {
    opacity: .75; }
